.slider {
  overflow-x: visible;
  padding: 0 3rem;
  position: relative;
}

.slider-wrapper {
  white-space: nowrap;
  overflow-x: visible;
}

.item {
  display: inline-block;
  width: calc(100% / 6);
  transition: 300ms ease;
}

.item img {
  width: 100%;
}
.nav-btns {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 3rem;
  z-index: 2000;
}
.prev-nav {
  left: 0;
}
.next-nav {
  right: 0;
}

.nav-btns .slider-nav-icon-next {
  width: 20px;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-width: 5px 5px 0 0;
  transform: rotate(45deg);
  opacity: 0.3;
  transition: opacity 0.4s ease;
}
.next-nav:hover .slider-nav-icon-next {
  opacity: 1;
}
.nav-btns .slider-nav-icon-prev {
  width: 20px;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-width: 5px 5px 0 0;
  transform: rotate(-135deg);
  opacity: 0.3;
  transition: opacity 0.4s ease;
}
.prev-nav:hover .slider-nav-icon-prev {
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .item {
    width: 25%;
  }
}

@media only screen and (max-width: 650px) {
  .item {
    width: calc(100% / 3);
  }
}
@media only screen and (max-width: 450px) {
  .nav-btns {
    display: none;
  }
  .slider-wrapper {
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch !important;
    padding-right: 1rem;
  }
  .slider-wrapper::-webkit-scrollbar {
    width: 0 !important;
  }
  .slider {
    padding: 0;
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .item {
    width: 50%;
  }
}

@media (hover: hover) {
  @media only screen and (min-width: 450px) {
    .slider:hover .item {
      transform: translateX(-25%);
    }
    .item:hover {
      transform: scale(1.5) !important;
    }

    .item:hover ~ .item {
      transform: translateX(25%);
    }
    .item-0:hover ~ .item {
      transform: translateX(50%) !important;
    }
    .item-0:hover:hover {
      transform: translateX(25%) scale(1.5) !important;
    }
  }
}
